#calculator-form {
    border: 3px outset;
    border-radius: 5px;
    padding-top: 20px;
}

.justify-content-md-center {
    margin-top: 5rem;
}

.d-grid, h3 {
    padding: 20px 0px;
}

#logo {
    height: 64px;
}

#logo:hover {
    height: 65px;
}