#calculator-form {
    border: 3px outset;
    border-radius: 5px;
    padding-top: 20px;
}

#logo {
    height: 64px;
}

#logo:hover {
    height: 66px;
}

#logoFooter {
    height: 32px;
}

canvas {
    width: 100%;
    max-width: 700px;
}